// animation-title-menu-burger.scss

// Définition de l'animation de flottement
@keyframes flottementTitle {
    0% {
        transform: translate(0, 0) rotate(0deg); // Position initiale
    }

    25% {
        transform: translate(-10px, -10px) rotate(-4deg); // Déplacement léger vers la gauche et le haut
    }

    50% {
        transform: translate(10px, 10px) rotate(4deg); // Déplacement léger vers la droite et le bas
    }

    75% {
        transform: translate(-6px, 6px) rotate(-2deg); // Retour progressif
    }

    100% {
        transform: translate(0, 0) rotate(0deg); // Retour à la position initiale
    }
}

.menu-burger-deco {
    .deco-logo {
        animation: flottementTitle 6s ease-in-out infinite; // Durée de 6 secondes (fluidite)
        transform-origin: center center; // Point de rotation au centre
    }
}