// fade-in-decoration-menu-burger.scss

// Définition de l'animation de fade-in
@keyframes fadeIn {
    from {
        opacity: 0; // Commence invisible
        transform: translateY(20px); // Déplace légèrement vers le bas
    }

    to {
        opacity: 1; // Devient visible
        transform: translateY(0); // Retour à la position d'origine
    }
}

// Appliquer l'animation aux éléments de décoration
.menu-burger-deco {

    .deco-logo,
    .deco-flowers img,
    .deco-cats img,
    .deco-footer img {
        opacity: 0; // Les éléments sont invisibles au départ
        animation: fadeIn 1s ease-in-out forwards; // Applique l'animation
    }
}