// Fichier animation "rotation-fleurs.scss"
// Définition de l'animation de rotation
@keyframes rotateFlower {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// Appliquer l'animation à toutes les fleurs
.story {
    .story__article::after {
        animation: rotateFlower 20s linear infinite;
    }

    h2::after {
        width: 155px;
        height: 155px;
        transform-origin: center center;
        animation: rotateFlower 20s linear infinite;
    }
}


#studio {

    & h2::after,
    & h2::before {
        animation: rotateFlower 20s linear infinite;
    }
}

.site-footer {

    &::before,
    &::after {
        animation: rotateFlower 20s linear infinite;
    }

    ul {
        &::after {
            animation: rotateFlower 20s linear infinite;
        }
    }

}