/*
// Variables
$person-titre-couleur: black;

// Characters Slider
.characters-slider {
    //display:flex;
    max-width: 1266px;
    //margin: 40px 0;
    margin: auto;
    text-align: center;

    .swiper {
        width: 100%;
        max-width: 1266px;
        margin: auto;

        &-wrapper {
            display: flex;
        }

        &-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            width: 100%; // Largeur maximale pour chaque slide

            figure {
                margin: 0;
                padding: 10px;

                img {
                    width: 400px;
                    height: auto;
                }

                figcaption {
                    font-size: 16px;
                    font-weight: bold;
                    color: $person-titre-couleur;
                    margin-top: 10px;
                }
            }
        }
    }
}
 */

//--------------------------------------------------------------------------------------------

// Variables
$person-titre-couleur: black;

// Characters Slider
.characters-slider {
    max-width: 1266px;
    margin: auto; // Centre le conteneur dans la page
    text-align: center;

    .swiper {
        width: 100%; // Le conteneur Swiper doit occuper toute la largeur disponible
        max-width: 1266px;
        margin: auto;

        &-wrapper {
            display: flex;
            align-items: center; // Aligne verticalement les slides
        }

        &-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;

            figure {
                margin: 0;
                padding: 10px;

                img {
                    width: 300px;
                    //width: 100%;
                    max-width: 400px; // Limite la taille maximale de l'image
                    height: auto;
                }

                figcaption {
                    font-size: 16px;
                    font-weight: bold;
                    color: $person-titre-couleur;
                    margin-top: 10px;
                }
            }
        }
    }
}