// Fichier titre-slide-up.scss
// Def animation "slide-up"
@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }


    50% {
        transform: translateY(-10%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// Définir les styles pour la classe "title"
.title {
    height: 300px;
    font-size: 4.429rem;
    color: white;
    display: flex;
    gap: 0.5em;
    width: fit-content;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: center;
    margin: auto;
    align-items: center;
}




// Déf les styles pour chaque mot du titre
.title span {
    opacity: 0;
    display: inline-block;
}



// Appliquer des délais différents pour chaque mot afin de créer l'effet de vague
.scroll-slide-up .mot-1 {
    animation: slide-up 1.5s ease-in-out forwards;
    animation-delay: 0.1s;
    color: white;
    text-align: center;
    margin: auto;
}

.scroll-slide-up .mot-2 {
    animation: slide-up 1.5s ease-in-out forwards;
    animation-delay: 0.3s;
    color: white;
    text-align: center;
    margin: auto;
}